parameters:
	level: max
	bootstrapFiles:
		- tools/.phpstan/vendor/autoload.php

	paths:
		- src/
		- tests/

	ignoreErrors:
		-
			# Needed since introducing phpstan/strict-rules, will revisit for next major release
			message: '#Dynamic call to static method PHPUnit#'
			identifier: staticMethod.dynamicCall
			path: tests

includes:
	- tools/.phpstan/vendor/phpstan/phpstan/conf/bleedingEdge.neon
